.center{
    border: 1px solid #ccc;;  
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec {    
    padding: 20px;
    button{
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 5px;
        background: rgb(108, 81, 204);
    }
}