.center{
    border: 1px solid #ccc;;  
    padding: 10px;
}
.sec {
    max-width: 175px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    // background: red;
    justify-content: space-between;

    button{
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 5px;
        background: rgb(209, 143, 143);
    }
}