<div class="container-sm mt-5">
  <div class="mb-3">
    <label for="userNameOrEmail" class="form-label"
      >Kullanıcı Adı veya Email</label
    >
    <input
      #txtUsernameOrEmail
      type="text"
      formControlName="userNameOrEmail"
      class="form-control"
      id="userNameOrEmail"
      placeholder="ahmetosmn | ahmet@gmail.com"
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Şifre</label>
    <input
      #txtPassword
      type="password"
      formControlName="password"
      class="form-control"
      id="password"
      placeholder="q1w2e3RR_"
    />
  </div>
  <div class="flex justify-content-center align-self-center">
    <div class="d-flex">
      <asl-google-signin-button></asl-google-signin-button>
      <fa-icon
        style="cursor: pointer"
        class="p-1 1px solid border fs-5 rounded-1 bg-light text-info ms-2"
        [icon]="faFacebook"
        (click)="facebookLoginInfo()"
      ></fa-icon>
      <!-- <fa-icon
        style="cursor: pointer"
        class="p-1 1px solid border fs-5 rounded-1 bg-light text-info ms-2"
        [icon]="faFacebook"
        (click)="facebookLogin()"
      ></fa-icon> -->
    </div>
    <button
      type="submit"
      class="btn btn-primary mt-2"
      (click)="login(txtUsernameOrEmail.value, txtPassword.value)"
    >
      Giriş Yap
    </button>
  </div>
</div>
