<div class="container mt-3" *ngIf="state.state">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="mb-3">
        <label for="password" class="form-label">Şifre</label>
        <input
          type="password"
          id="password"
          class="form-control"
          placeholder="******"
          #txtPassword
        />
      </div>
      <div class="mb-3">
        <label for="passwordConfirm" class="form-label">Şifreyi Tekrarla</label>
        <input
          type="password"
          id="passwordConfirm"
          class="form-control"
          placeholder="******"
          #txtPasswordConfirm
        />
      </div>
      <button class="btn btn-primary mt-2" (click)="updatePassword(txtPassword.value, txtPasswordConfirm.value)">Şifreyi Kaydet</button>
    </div>
  </div>
</div>

<div class="alert alert-danger" role="alert" *ngIf="!state.state">
    Bu link kullanılmamaktadır.
</div>